- include_stylesheet 'admin/forum'

- fields_for :page do |f|
  .commentability
    = f.check_box :commentable, {:onclick => "if (this.checked) { $('page_comments_closed').enable(); $('comments_closed_label').removeClassName('disabled'); } else { $('page_comments_closed').disable(); $('comments_closed_label').addClassName('disabled'); }"}
    = f.label :commentable, "Show comments"
    %br
    = f.check_box :comments_closed, :disabled => !@page.commentable?
    = f.label :comments_closed, 'Comments closed', :id => 'comments_closed_label', :class => !@page.commentable? ? 'disabled' : ''