#content table.index tr.node td {
  vertical-align: top;
  padding: 1em;
}

#content table.index tr.node td {
  vertical-align: top;
  padding: 1em;
}

#content table.index tr.node td.forum {
  width: 40%;
}

#content table.index tr.node td.forum_latest {
  width: 50%;
}

#content table.index .node .forum small {
  color: #666;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
  margin-left: .5em;
}

#content table.index .node .forum a, #content table.index .node .forum a:visited {
  font-size: 115%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#content table.index .node .forum a.untrusted, #content table.index .node .forum a.untrusted:visited {
  color: #c00;
}

#content table.index .node .forum a:hover, #content table.index .node .forum a:visited:hover {
  color: blue;
  text-decoration: underline;
}

#content table.index tr.node td.forum p {
  color: #666;
}

#content table.index p.admin_notes {
  color: #c00;
  margin: 0 0 0 40px;
}

#content table.index p.admin_notes {
  color: #c00;
  margin: 0 0 0 40px;
}

#content table.index tr.node td h3 {
  margin: 0;
}

#content table.index tr.node td .context {
  margin: 0;
  font-size: 85%;
  color: #999;
}

#content table.index tr.node td .context a {
  color: #666;
}

#content table.index tr.node td.forum_latest ul {
  list-style: square;
}

#content table.index tr.node td.forum_latest li {
  margin: 4px 0;
  color: #999;
}

#content table.index tr.node td.forum_latest a.topic {
  color: #666;
  font-weight: bold;
}

#content table.index tr.node td.forum_latest a.reader {
  color: #666;
}
