- if forum.visible_to?(current_reader)
  .forum
    .forum_wrapper{:id => forum.dom_id}
      .forum_header
        %h2
          = link_to forum.name, forum_url(forum), :class => 'main'
        - if forum.description
          %p.context
            = forum.description
      .forum_contents
        - if forum.topics.any?
          %ul
            - forum.topics.latest(3).each do |topic|
              = render :partial => 'topics/minimal', :locals => {:topic => topic}
        - else
          %p.note
            = t('forum_extension.no_topics')
