<%
  trclass ||= cycle("even", "odd", :name => 'posts')
%>

<div id="login">
  <h3>To start a new conversation, please <%= link_to "register", user_register_url %> or <%= link_to "log in", user_login_url %>.</h3>
</div>

