- if current_reader
  - @post ||= @topic.posts.build

  %div.reply{:id => 'replyform'}
    %h2.inviting Post a reply
    - form_for :post, :url  => posts_path(@forum, @topic), :html => {:id => 'reply_form', :multipart => true, :class => 'friendly'} do |f|
      = render :partial => "posts/form", :object => f
      = submit_tag 'Post Reply'

- else
  %h2.inviting To reply, please log in
  = render :partial => 'readers/login_form'
