- topic ||= @topic
- topic.other_voices.each do |reader|
  - if reader
    - gravatar = gravatar_for(reader, {:size => 16, :default => "#{request.protocol}#{request.host_with_port}/images/furniture/no_gravatar.png"}, {:alt => reader.name, :class => 'gravatar tiny', :width => '16', :height => '16'})
    = link_to gravatar, reader_url(reader)
