a, a:hover {
  text-decoration: none;
  color: #4d4e53;
}

a:hover {
  color: #d1005d;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}

div#container {
  width: 920px;
  margin: 10px auto 60px auto;
  padding: 0;
  font-family: Georgia,"Times New Roman", Times, serif;
  line-height: 1.6;
  font-size: 105%;
}

div#reader_links {
  padding-top: 30px;
  font-size: 80%;
  display: block;
  margin-top: -3px;
  font-family: helvetica, arial, sans-serif;
}

h1, h2, h3 {
  font-weight: lighter;
}

a.inviting, h2.inviting {
  display: block;
  background: url(/images/forum/post_14.png) no-repeat 0 4px;
  padding-left: 18px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
}

label, h3.label {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  color: #4d4e53;
}

a.inviting:hover {
  background: url(/images/forum/post_14_over.png) no-repeat 0 4px;
}

div.upload_handler, div.post_attachments {
  margin: 0 0 30px 0;
  border-left: 5px solid #e2e1dc;
  padding-left: 20px;
}

div.upload_handler h3, div.post_attachments h3 {
  margin: 0;
/*  font-size: 100%;*/
}

div.upload_handler ul, div.post_attachments ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 120%;
}

div.upload_handler ul li img, div.post_attachments ul li img {
  margin: 0 2px 0 0;
}

div.upload_handler a.remove {
  font-family: helvetica, arial, sans-serif;
  font-size: 50%;
}

a.cancel, div.upload_handler a.remove {
  color: #af024f;
}

a.cancel:hover, div.upload_handler a.remove:hover {
  color: #d1005d;
}

/*** some hiding on the assumption that the form is scripted ***/

div.upload_handler ul.attachments input {
  display: none;
}

div.uploads {
  display: none;
}

div.upload_handler ul li {
  color: #1bb68b;
}

