/*

cool grey 3: #cacac8
cool grey 6: #afafaf
cool grey 11: #4d4e53
rubine red: #d1005d
agreeable green: #5da454

*/

div#forum {

}

div#forum h1, div#forum h2 {
  margin-bottom: 8px;
  line-height: 1.2;
}

h1 a.breadhead {
  margin: 0;
  font-size: 60%;
  color: #afafaf;
}

div#forum a.floating {
  float: right;
  margin: 0 0 10px 20px;
}

div#forum a.feedlink {
  background: url(/images/forum/feed_14.png) no-repeat 0 4px;
  padding-left: 18px;
  color: #f58822;
}

div#forum img.feedicon {
  margin: 3px 0 0 4px;
}

div#forum img.gravatar {
  float: left;
  margin: 1px 10px 3px 0;
}

div#forum_preamble {
  color: #4d4e53;
  margin-bottom: 24px;
  margin-top: 10px;
}

div#forum_preamble p {
  margin-top: 0;
}

/***** big lists of topics and forums ********/

ul.main {
  list-style: none;
  margin: 0;
  padding: 0;
} 

ul.main li {
  clear: left;
/*  padding-bottom: 10px;*/
  padding-top: 10px;
  border-top: 1px dotted #afafaf;
}

ul.main li span.subject a {
  font-size: 200%;
  line-height: 1;
}

ul.main li span.context {
  font-size: 80%;
  color: #afafaf;
  display: block;
  margin-top: -3px;
}

ul.main li div.preview {
  font-size: 90%;
  font-family: helvetica, arial, sans-serif;
  color: #4d4e53;
}

div#forum p.context {
  margin: 0;
  font-size: 80%;
  color: #afafaf;
}

/***** message display ********/

div#forum div.post {
  margin: 10px 0 30px 0;
}

div#forum div.post_header h2 {
  margin: 0;
  font-weight: lighter;
  line-height: 1.1;
}

div#forum div.post_body div.post p {
  margin-top: 4px;
}

/***** input niceties ********/

a.inviting, h2.inviting {
  display: block;
  background: url(/images/forum/post_14.png) no-repeat 0 4px;
  padding-left: 18px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
}

a.inviting:hover {
  background: url(/images/forum/post_14_over.png) no-repeat 0 4px;
}

form.friendly span.quiet label {
  font-size: 90%;
  color: #afafaf;
}

/***** the people love smileys ********/

img.smiley {
  margin: 3px 3px 0 3px;
}

