/******** pagination ********/

div.pagination {
  font-family: helvetica, arial, sans-serif;
  font-size: .8em;
}

span.pagination_summary {
  color: #cacac8;
  float: right;
}

p.pagination_summary a {
  color: #8C8D8E;
}

div.pagination a {
  padding: 6px 8px 5px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.pagination a:hover {
  background-color: #1bb68b;
  color: white;
  text-decoration: none;
}

div.pagination span.current {
  padding: 6px 8px 5px 8px;
  margin-right: 2px;
  background-color: #1c8064;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.pagination span.disabled {
  padding: 6px 8px 5px 8px;
  margin-right: 2px;
  color: #cacac8;
}

/******** forum & readership ********/

div#forum {
  font-family: helvetica, arial, sans-serif;
}

div#forum h1, div#forum h2 {
  margin-bottom: 24px;
  line-height: 1.2;
}

h1 a.breadhead, h2 a.breadhead {
  font-weight: lighter;
  margin: 0 0 3px 0;
  display: block;
  letter-spacing: 0;
  font-size: 50%;
  color: #afafaf;
}

div#forum a.floating {
  float: right;
  margin: 0 0 10px 20px;
}

div#forum a.feedlink {
  background: url(/images/forum/feed_14.png) no-repeat 0 4px;
  padding-left: 18px;
  color: #f58822;
}

div#forum img.feedicon {
  margin: 3px 0 0 4px;
}

div#forum_preamble {
  color: #4d4e53;
  margin-bottom: 24px;
  margin-top: 10px;
}

div#forum_preamble p {
  margin-top: 0;
}

div#forum div.reply {
  margin-left: 0;
}

div#forum div.first_post {
  margin-left: 0;
}

div#forum div.post_header a.replied {
  color: #afafaf;
}


/***** system messages and controls ********/

.notice, .error {
  position: absolute;
  width: 250px;
  right: 0;
  background-color: inherit;
  color: white;
  margin: 0;
  padding: .75em;
  padding-top: 0;
  padding-bottom: 0;
}
.notice {
  background-color: #0c3;
  border: 3px solid #7FE699;
}
.error {
  background-color: #d1005d;
  border: 3px solid #ff0071;
}

#reader_links {
  font-size: 80%;
}

p.system_message {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 85%;
  color: #666;
}

/***** lists of topics and forums ********/

ul.main {
  list-style: none;
  margin: 20px 0 50px 0;
  padding: 0;
} 

ul.main li {
  clear: left;
  margin: 30px 0;
}

ul.main li span.subject a, ul.main li span.subject a:visited {
  font-family: helvetica, arial, sans-serif;
  font-size: 160%;
  font-weight: bold;
  line-height: 1;
}

ul.main li span.context a, ul.main li span.context a:visited, p.context a, p.context a:visited {
  color: #8c8d8e;
}

ul.main li.sticky span.subject a, ul.main li.sticky span.subject a:visited {
  color: #d1005d;
}

ul.main li.locked span.subject a, ul.main li.locked span.subject a:visited {
  color: #4d4e53;
}

p.context, p.updatenote {
  font-size: 80%;
  color: #afafaf;
  display: block;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}

p.updatenote {
/*  text-align: right;*/
}

ul.main li span.context {
  font-size: 80%;
  color: #afafaf;
  display: block;
  margin-top: -4px;
  font-family: helvetica, arial, sans-serif;
}

ul.main li div.preview {
  font-size: 85%;
  color: #4d4e53;
}

ul.main li div.preview p {
  margin-top: 5px;
}

/***** message display ********/

div#forum div.post {
  position: relative;
  clear: left;
  margin: 10px 0 30px 0;
}

div#forum div.first_post {
  margin-top: 0;
  clear: both;
}

div#forum div.post_header h2 {
  margin: 0;
  font-weight: lighter;
  line-height: 1.1;
}

div#forum div.post_body, div#forum div.post_wrapper {
  position: relative;
}

div#forum div.post_wrapper {
/*  padding: 0 0 10px 0;*/
  border-bottom: 1px dotted #afafaf;
}

div#forum div.post_body div.post p {
  margin-top: 4px;
}

div#forum div.post_body blockquote {
  color: #8c8d8e;
  border-left: 5px solid #8c8d8e;
  margin: 0;
  padding-left: 20px;
}


div#forum div.over {
  background-color: #e2e1dc;
}

/***** friendly forms and other input niceties ********/

form.friendly input.titular {
  width: 95%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.6em;
  line-height: 1;
  color: #4d4e53;
	clear: both; 
  border: 1px solid #afafaf;
	padding: 5px;
}

form.friendly textarea, form.friendly select, form.friendly input.standard {
  width: 95%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border: 1px solid #8c8d8e;
  padding: 5px;
}

form.friendly input.login {
  width: 50%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border: 1px solid #8c8d8e;
  padding: 5px;
}

form.friendly textarea {
  line-height: 1.2;
}

span.formnote {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 75%;
  color: #afafaf;
}

a.newmessage {
  display: block;
  background: url(/images/forum/post_14.png) no-repeat 0 4px;
  padding-left: 18px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
}

a.newmessage:hover {
  color: #d1005d;
  background: url(/images/forum/post_14_over.png) no-repeat 0 4px;
}

h2.inviting {
  display: block;
  background: url(/images/forum/post_14.png) no-repeat 0 4px;
  padding-left: 18px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  margin-bottom: 0;
}

form.friendly span.quiet label {
  font-size: 90%;
  color: #afafaf;
}

ul.friendly {
  list-style: square;
  font-family: HelveticaNeue-Roman, helvetica, arial, sans-serif;
  font-size: 85%;
  color: #4d4e53;
  padding-left: 0;
  margin-top: 0;
}

label, h3.label {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  color: black;
}

label.paranthetical {
  font-size: 0.9em;
  color: #afafaf;
}

div#forum div.post_control {
  font-size: 85%;
  color: #afafaf;
}

div#forum div.post_control p {
  margin: 0;
}

div#forum div.post_control p.post_admin {
  text-align: right;
}

div#forum div.post_control a {
  color: #8c8d8e;
}

div#forum div.post_control a.edit_post {
  color: #1c8064;
}

div#forum div.post_control a.delete_post {
  padding-left: 5px;
  color: #d1005d;
}

div#forum div.post_control a:hover {
  color: #1bb68b;
}

div#forum div.post_control a.waiting, div#forum p.waiting {
  color: #afafaf;
  padding-left: 18px;
  background: transparent url(/images/forum/wait_16_grey.gif) no-repeat left top;
}



/***** input validation and error reporting ********/

p.haserror {
  color: #d1005d !important;
}

form.friendly div.error-with-field {
  display: inline;
}

form.friendly small.error {
  display: none;
}

form.friendly p.haserror {
	border-left: 4px solid #d1005d;
	margin-left: -16px;
	padding-left: 12px;
	color: #d1005d !important;
}

form.friendly p.haserror input, p.haserror textarea {
	border: 1px solid #d1005d !important;
}

form.friendly p.haserror label {
	color: #d1005d !important;
}

form.friendly div.innocuous {
  display: none;
}

form.friendly label.required {
  font-weight: bold;
}

/***** inline forms ********/

div#forum div.post_wrapper div.post_form {
  margin: 0 0 20px 0;
  padding: 0;
  background: white url(/images/forum/wait_16_grey.gif) no-repeat center center;
}

div#forum div.post_wrapper div.post_form form {
  background-color: white;
  margin: 0;
}

div#forum div.post_wrapper div.post_form label {
  display: none;
}

div#forum div.post_wrapper div.post_form textarea {
  left: 0;
  right: 0;
  color: #4d4e53;
  border-color: #afafaf;
  font-size: normal;
  font-size: 1em;
  
}

div#forum div.post_wrapper div.post_form p {
  margin: 0;
}

/***** gravatars and other useful things ********/

img.gravatar {
  float: left;
  margin: -1px 10px 3px 0;
}

img.thumbnail_gravatar {
  float: left;
  margin: 2px 10px 10px 0;
}

img.big_gravatar {
  float: left;
  margin: 8px 10px 4px 0;
}

/***** we all love smileys ********/

img.smiley {
  margin: 3px 3px 0 3px;
}

/***** post attachments ********/

div.upload_handler, div.post_attachments {
  margin: 0 0 30px 0;
  border-left: 5px solid #afafaf;
  padding-left: 20px;
}

div.upload_handler h4, div.post_attachments h4 {
  margin: 0;
  font-size: 0.8em;
  font-weight: lighter;
  color: #afafaf;
  margin: -3px 0 2px -10px;
}

div.upload_handler h3, div.post_attachments h3 {

}

div.upload_handler ul, div.post_attachments ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

div.upload_handler ul li, div.post_attachments ul li {
  clear: none;
  margin: 0;
}

div.upload_handler a.attachment, div.post_attachments a.attachment {
  background: url(/images/forum/icons/attachment.png) no-repeat 0 2px;
  padding-left: 18px;
}

div.upload_handler a.attachment:hover, div.post_attachments a.attachment:hover {
  background-image: url(/images/forum/icons/attachment_new.png);
}

div.upload_handler a.remove {
  font-family: helvetica, arial, sans-serif;
  font-size: 50%;
}

a.cancel, div.upload_handler a.remove {
  color: #af024f;
}

a.cancel:hover, div.upload_handler a.remove:hover {
  color: #d1005d;
}

/*** some hiding on the assumption that the form is scripted ***/

div.upload_handler div.attachments {
/*  overflow: hidden;*/
}

div.upload_handler ul.attachments input {
  display: none;
}

div.uploads {
  display: none;
}

div.upload_handler ul li {
  color: #1bb68b;
}