/*

cool grey 1: #e2e1dc
cool grey 3: #cacac8
cool grey 6: #afafaf
cool grey 11: #4d4e53
rubine red: #d1005d
agreeable green: #5da454


*/

div#forum {

}

div#forum h1, div#forum h2 {
  margin-bottom: 8px;
  line-height: 1.2;
}

h1 a.breadhead {
  margin: 0;
  font-size: 60%;
  color: #afafaf;
}

div#forum a.floating {
  float: right;
  margin: 0 0 10px 20px;
}

div#forum a.feedlink {
  background: url(/images/forum/feed_14.png) no-repeat 0 4px;
  padding-left: 18px;
  color: #f58822;
}

div#forum img.feedicon {
  margin: 3px 0 0 4px;
}

div#forum img.gravatar {
  float: left;
  margin: 1px 10px 3px 0;
}

div#forum_preamble {
  color: #4d4e53;
  margin-bottom: 24px;
  margin-top: 10px;
}

div#forum_preamble p {
  margin-top: 0;
}

/***** lists of topics and forums ********/

ul.main {
  list-style: none;
  margin: 0;
  padding: 0;
} 

ul.main li {
  clear: left;
  padding-top: 10px;
  border-top: 1px dotted #afafaf;
}

ul.main li span.subject a {
  font-size: 200%;
  line-height: 1;
}

ul.main li span.context, div#forum p.context {
  font-size: 80%;
  color: #afafaf;
  display: block;
  margin-top: -3px;
  font-family: helvetica, arial, sans-serif;
}

ul.main li div.preview {
  font-size: 85%;
  color: #4d4e53;
}

/***** message display ********/

div#forum div.post {
  position: relative;
  clear: left;
  margin: 10px 0 30px 0;
}

div#forum div.first_post {
  margin-top: 30px;
}

div#forum div.post_header h2 {
  margin: 0;
  font-weight: lighter;
  line-height: 1.1;
}

div#forum div.post_body, div#forum div.post_wrapper {
  position: relative;
}

div#forum div.post_wrapper {
/*  padding: 0 0 10px 0;*/
  border-bottom: 1px dotted #afafaf;
}

div#forum div.post_body div.post p {
  margin-top: 4px;
}

div#forum div.over {
  background-color: #e2e1dc;
}

/***** input niceties ********/


form.friendly span.quiet label {
  font-size: 90%;
  color: #afafaf;
}

div.post_info {
  font-size: 80%;
  font-family: helvetica, arial, sans-serif;
  color: #afafaf;
}

div.edit_control {
  float: right;
  width: 34px;
  margin: 0 0 5px 5px;
  text-align: right;
}

div.edit_control a {
  display: block;
  float: right;
  width: 16px;
  height: 20px;
  overflow: hidden;
  text-indent: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0;
}

div.edit_control a.edit_post { background-image: url('/images/forum/edit_14.png'); }
div.edit_control a.edit_post:hover { background-image: url('/images/forum/edit_14_over.png'); }
div.edit_control a.remove_post { background-image: url('/images/forum/remove_14.png'); }
div.edit_control a.remove_post:hover { background-image: url('/images/forum/remove_14_over.png'); }
div.edit_control a.waiting, div.edit_control a.waiting:hover { background-image: url('/images/forum/wait_16_grey.gif'); }

/***** inline forms ********/

div#forum div.post_wrapper div.post_form {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white url(/images/forum/wait_16_grey.gif) no-repeat center center;
}

div#forum div.post_wrapper div.post_form form {
  margin: 0;
}

div#forum div.post_wrapper div.post_form label {
  display: none;
}

div#forum div.post_wrapper div.post_form textarea {
  left: 0;
  right: 0;
  color: #559dc4;
  font-size: normal;
}

div#forum div.post_wrapper div.post_form p {
  margin: 0;
  padding: 0;
}

div#forum div.post_wrapper div.post_form a.cancel {
  font-size: 80%;
  font-family: helvetica, arial, sans-serif;
  color: #4d4e53;
}


/***** we all love smileys ********/

img.smiley {
  margin: 3px 3px 0 3px;
}

