div#forum h1,div#forum h2{margin-bottom:24px;line-height:1.2;}
div#forum a.floating{float:right;margin:0 0 10px 20px;}
div#forum a.feedlink{background:url(/images/forum/feed_14.png) no-repeat 0 4px;padding-left:18px;color:#f58822;}
div#forum div#forum_preamble{color:#4d4e53;margin-bottom:24px;margin-top:10px;}
div#forum div#forum_preamble p{margin-top:0;}
div#forum div.reply{margin-left:0;}
div#forum div.first_post{margin-left:0;}
div#forum div.post_header a.replied{color:#cacac8;}
div#forum a.newmessage{font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;font-size: 1.6em;background:transparent url(/images/forum/post_14.png) no-repeat 0 4px;padding-left:18px;margin-left: 20px;}
div#forum a.newmessage:hover{background-image:url(/images/forum/post_14_over.png);}
ul.main{list-style:none;margin:20px 0 50px 0;padding:0;}
ul.main li{clear:left;margin:30px 0;}
ul.main li .subject a,ul.main li .subject a:visited{font-family:helvetica,arial,sans-serif;font-size:160%;font-weight:bold;line-height:1;}
ul.main li div.preview{font-size:85%;color:#4d4e53;}
ul.main li div.preview p{margin-top:5px;}
ul.main li.sticky .subject a,ul.main li.sticky .subject a:visited{color:#d1005d;}
ul.main li.locked .subject a,ul.main li.locked .subject a:visited{color:#4d4e53;}
.context,.updatenote{display:block;font-family:helvetica,arial,sans-serif;font-size:0.8em;line-height:1.4;color:#cacac8;margin:0;}
div#forum div.post{position:relative;clear:left;margin:10px 0 50px 0;}
div#forum div.first_post{margin-top:30px;clear:both;}
div#forum div.post_header h2{margin:0;line-height:1.1;}
div#forum div.post_header h2 a.speaker{font-weight:bold;}
div#forum div.post_body{position:relative;}
div#forum div.post_body p{margin-top:.25em;}
div#forum div.post_body div.post blockquote{color:#cacac8;border-left-width:5px;border-left-style:solid;border-left-color:#cacac8;margin:0;padding-left:20px;}
div#forum div.over{background-color:#e2e1dc;}
div#forum div.post_control{font-size:85%;color:#cacac8;}
div#forum div.post_control p{margin:0;}
div#forum div.post_control p.post_admin{float:right;}
div#forum div.post_control p.post_admin a, div#forum div.post_control p.post_admin a:visited{font-family:helvetica,arial,sans-serif;font-size:0.8em;line-height:1;padding:4px;color:white;background-color:#e2e1dd;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
div#forum div.post_control p.post_admin a.edit_post:hover{background-color:#1c8064;}
div#forum div.post_control p.post_admin a.delete_post:hover{background-color:#c00;}
div#forum div.post_control a{color:#1bb68b;}
div#forum div.post_control a.edit_post{color:#d1005d;}
div#forum div.post_control a.delete_post{padding-left:5px;color:#d1005d;}
div#forum div.post_control a:hover{color:#1bb68b;}
div#forum div.post_control a.waiting,div#forum div.post_control div#forum p.waiting{color:#cacac8;padding-left:18px;background:transparent url(/images/forum/wait_16_grey.gif) no-repeat left top;}
div#forum div.post_wrapper{position:relative;}
div#forum div.post_wrapper div.post_form{margin:0 0 20px 0;padding:0;background:white url(/images/forum/wait_16_grey.gif) no-repeat center center;}
div#forum div.post_wrapper div.post_form form{background-color:#ffffff;margin:0;}
div#forum div.post_wrapper div.post_form form label{display:none;}
div#forum div.post_wrapper div.post_form form textarea{left:0;right:0;color:#559dc4;border-color:#cacac8;font-size:normal;font-size:1em;}
div#forum div.post_wrapper div.post_form form p{margin:0;}
img.smiley{margin:3px 3px 0 3px;}
div.upload_handler,div.post_attachments{margin:0 0 30px 0;border-left-width:5px;border-left-style:solid;border-left-color:#cacac8;padding-left:20px;}
div.upload_handler h4,div.post_attachments h4{margin:0;font-family:helvetica,arial,sans-serif;font-size:0.8em;line-height:1.4;color:#cacac8;margin:-3px 0 2px -10px;}
div.upload_handler ul,div.post_attachments ul{margin:0;list-style:none;padding:0;}
div.upload_handler li,div.post_attachments li{clear:none;margin:0;}
div.upload_handler a.attachment,div.post_attachments a.attachment{background:url(/images/forum/attachment_link.png) no-repeat 0 2px;padding-left:18px;}
div.upload_handler a.attachment:hover,div.post_attachments a.attachment:hover{background-image:url(/images/forum/attachment_over.png);}
div.upload_handler a.remove,div.post_attachments a.remove{font-family:helvetica,arial,sans-serif;font-size:50%;color:#d1005d;}
a.cancel:hover,a.remove:hover{background-color:#d1005d;color:#ffffff;}

div.upload_handler ul.attachments input{display:none;}
div.uploads{display:none;}
div.upload_handler ul li a{color:#4d4e53;}

div.upload_handler div.selector{position:relative;cursor:pointer;}
div.upload_handler div.selector input.filefield{position:relative;z-index: 100; opacity: 0;}
div.upload_handler div.selector div.addfile{position:absolute;z-index: 99;top:0;}
div.upload_handler div.selector div.addfile a{background:url(/images/forum/attachment_link.png) no-repeat 0 2px;padding-left:18px;}

div#forum_search {margin: 40px 0 0 0;}
div#forum_search h2, div#forum_search p {margin: 0;}
div#forum_search input.standard {width: 80%;}
div#forum_search input.button { font-size: 1.2em; line-height: 1; color: #4d4e53; padding: 5px; margin: 0 0 0 6px;}


p.administrative{font-family:helvetica,arial,sans-serif;color:#cacac8;}
img.feedicon{margin:8px 0;}
