- posts ||= @posts
- page ||= @page

.forum
  %h2
    = t('forum_extension.comments_on')
    = page.title

- if posts.empty?
  %p 
    = t('forum_extension.none_yet')
- else
  = render :partial => 'posts/post', :collection => posts
