- posts ||= @posts
- page ||= @page

#forum
  %h2
    = t('comments_on')
    = page.title

- if posts.empty?
  %p 
    = t('none_yet')
- else
  = render :partial => 'posts/post', :collection => posts
