%div.post{:id => post.dom_id}
  %div.post_header
    %h2
      %a{:href => "/readers/#{post.reader.id}", :class => 'main'}
        %img{:src => post.reader.gravatar_url(:size => 40), :class => 'gravatar'}
        = post.reader.name
    %p.context
      = post.created_at
    %div.post_body
      = post.body