Hello <%= @reader.name %>.

A new comment has been added to the conversation '<%= @post.topic.name %>' by <%= @post.reader.name %>:

_______________________________________________________________________

<%= @post.body %>

_______________________________________________________________________


To see the comment in context and to reply, please visit the topic page at <%= @url %>

On that page you will also find the link to switch off this email notification service.
