- if Radiant::Config['forum.allow_attachments?'] && !post.frozen? && post.attachments.any?
  .post_attachments
    %h4 
      = t('forum_extension.attached') + ':'
    - post.attachments.images.each do |att|
      - display_size = Radiant::Config['forum.image_zoom_size'] || :original
      = link_to image_tag(post_attachment_url(att, :size => :thumbnail)), post_attachment_url(att, :size => display_size), :class => :thumbnail, :rel => post_attachment_url(att, :size => :original)
    - if post.attachments.non_images.any?
      %ul.attachments
        - post.attachments.non_images.each do |att|
          %li
            = link_to att.filename, post_attachment_url(att), :class => "attachment #{att.extension}"

