%p
  %label{:for =>"post_body"}
    -if @page
      add a comment on
      = link_to @page.title, @page.url
    - else
      Your message
  %br
  = form.text_area :body, :rows => 10, :id => "edit_post_body"
