%p
  %label{:for =>"post_body"}
    -if @page
      Your comment
    - else
      Your message
  %br
  = form.text_area :body, :rows => 10
  %br
  %span.formnote
    You can use 
    = link_to "textile", "http://hobix.com/textile/quick.html", :class => 'textile_help'
    here.
