- if Radiant::Config['forum.allow_attachments?'] && f
  - post ||= f.object
  
  .upload_stack
    %ul.attachments
      - post.attachments.each do |att|
        - f.fields_for :attachments, att do |af|
          = render :partial => 'posts/attachment', :object => att, :locals => {:af => af}
    %ul.uploads
    .selector
      - new_attachment = post.attachments.build
      - f.fields_for :attachments, new_attachment do |naf|
        = render :partial => 'posts/new_attachment', :object => new_attachment, :locals => {:naf => naf}
      .addfile
        = link_to t('forum_extension.attach_file'), "#"
