- message_type = @page ? 'comment' : 'reply'

#forum
  = render :partial => 'posts/reply'

- content_for :breadhead do
  - if @page
    = link_to @page.title, @page.url, :class => 'breadhead'
  - else 
    = link_to @topic.name, forum_topic_url(@topic.forum, @topic), :class => 'breadhead'

- content_for :pagetitle do
  Add a
  = message_type
