= render :partial => 'post', :object => @post

- content_for :breadhead do
  = link_to @post.topic.name, topic_url(@post.topic.forum), {:class => 'breadhead'}

- content_for :controls do
  = render :partial => 'readers/controls'
