= render :partial => 'post', :object => @post

- content_for :breadhead do
  = link_to @post.topic.name, forum_topic_url(@post.topic.forum, @post.topic), {:class => 'breadhead'}

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :mugshot do
  = gravatar_for(@post.reader, {:size => 42}, {:alt => @post.reader.name, :class => 'gravatar'})
